@{
    ViewBag.Title = "Home Page";
}

<div class="main-div">
    <h1 style="background-color:grey;color:white;padding:2rem">Desing Which Is Epitome Of True Engineering</h1>
</div>

<div class="row">
    <div  class="col-md-6 img-container">
        <h2>Design One</h2>
        <a href="~/Content/Images/image1.jpg" target="_blank"><img src="~/Content/Images/image1.jpg" alt="image1" style="width: 360px; height: 360px; object-fit: cover" /></a>
    </div>
    <div class="col-md-6">
        <h2>Design Two</h2>
        <a href="~/Content/Images/image2.jpg" target="_blank"><img src="~/Content/Images/image2.jpg" alt="image1"  style="width: 360px; height: 360px; object-fit: cover" /></a>
    </div><div class="col-md-6">
        <h2>Design Three</h2>
       <a href="~/Content/Images/image3.jpg" target="_blank"> <img src="~/Content/Images/image3.jpg" alt="image1"  style="width: 360px; height: 360px; object-fit: cover" /></a>
    </div><div class="col-md-6">
        <h2>Design Four</h2>
        <a href="~/Content/Images/image4.jpg" target="_blank"><img src="~/Content/Images/image4.jpg" alt="image1"  style="width: 360px; height: 360px; object-fit: cover" /></a>
    </div>
</div>